 @import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');
      .forms-out {
        margin: 0 ;
        font-family: "Fira Sans", sans-serif;
        padding: 20px 40px;
        margin-top: 100px;
        display: block;
      }
      .forms-in {
        width: 93%;
        margin: 0 auto;
        color: black ;
        padding: 15px 0;
      }
      .forms-in div {
        padding: 30px 20px;
        max-width: 350px;
        margin: 0 auto;
       
        border-radius: 5px;
        margin-bottom: 15px;
      }
      .forms-in h3 {
        color: #212529;
        font-family: 'Pangolin',cursive;
        font-size: 2.5rem;
        font-weight: bold;
        text-align: center;
        margin-top: 30px;
        margin-bottom: 35px;
      }
      input{
        border-radius: 10px;
        
        color: #590219;
      }
      .forms-in input {
        border: none;
        width: 100%;
        margin-bottom: 15px;
        padding: 10px;
        box-sizing: border-box;
        border: 1px solid #590219;

        border-radius: 3px;
      }

      .forms-in button {
        border: none;
        padding: 7px 20px;
        background: #d8a9cc ;
        color: #000;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
      }

      .forms-in button:hover {
        opacity: 0.7;
      }

      .hide {
        display: none;
      }

      #forgot-password {
        text-align: center;
        font-size: 18px;
        cursor: pointer;
        color: #212529;
      }

      #forgot-password:hover {
        opacity: 0.7;
      }
      .col-lg-6 {
        height: 100vh;
        width: 100vw;
        
      }

      #loginimg{
        width: 400px;
        height: 400px;
        margin-left: 25%;
        margin-top: 20%;
      }